<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Vypis typu aut</title>
    </h:head>
    <h:body>
        <!-- Vypis informaci o inventiCar -->
        <h:panelGrid columns="2">
            <h:outputText value="Jmeno:" />
            <h:outputText value="#{carTypeService.inventiCar.name}"></h:outputText>
            <h:outputText value="Verze:" />
            <h:outputText value="#{carTypeService.inventiCar.version}" />
        </h:panelGrid>
        
        <!--Pridejte stejny vypis i pro vas vytvoreny novy CarType otherCar-->     
        
        
    </h:body>
</html>

